.header {
    background: #f4f4f4;
    text-align: center;
    padding: 2em;
    width: 100vw;
    h1 {
        font-size: 2.5em;
        color: black;
        img {
            max-width: 96px;
        }
    }

    @media(max-width: 600px) {
        padding: 1em 0 1em 0;
    }
}